In [63]:
import pandas as pd
import matplotlib.pyplot as plt
from sklearn import linear_model

In [64]:
df=pd.read_csv("C:/Users/LENOVO/Downloads/train_energy_data.csv")
df.head()

  Building Type  Square Footage  Number of Occupants  ...  Average Temperature  Day of Week Energy Consumption
0   Residential            7063                   76  ...                29.84      Weekday            2713.95
1    Commercial           44372                   66  ...                16.72      Weekday            5744.99
2    Industrial           19255                   37  ...                14.30      Weekend            4101.24
3   Residential           13265                   14  ...                32.82      Weekday            3009.14
4    Commercial           13375                   26  ...                11.92      Weekday            3279.17

[5 rows x 7 columns]

In [65]:
df.isnull().sum()

Building Type          0
Square Footage         0
Number of Occupants    0
Appliances Used        0
Average Temperature    0
Day of Week            0
Energy Consumption     0
dtype: int64

In [66]:
df1=pd.get_dummies(df['Building Type'])
df1=df1.astype(int)
df1.head()

   Commercial  Industrial  Residential
0           0           0            1
1           1           0            0
2           0           1            0
3           0           0            1
4           1           0            0

In [67]:
df2=pd.get_dummies(df['Day of Week'])
df2=df2.astype(int)
df2.head()

   Weekday  Weekend
0        1        0
1        1        0
2        0        1
3        1        0
4        1        0

In [68]:
df3=pd.concat([df,df1,df2],axis='columns')
df3.head()

  Building Type  Square Footage  Number of Occupants  Appliances Used  ...  Industrial Residential  Weekday  Weekend
0   Residential            7063                   76               10  ...           0           1        1        0
1    Commercial           44372                   66               45  ...           0           0        1        0
2    Industrial           19255                   37               17  ...           1           0        0        1
3   Residential           13265                   14               41  ...           0           1        1        0
4    Commercial           13375                   26               18  ...           0           0        1        0

[5 rows x 12 columns]

In [69]:
df4=df3.drop(['Building Type','Day of Week','Residential','Weekday'],axis='columns')
df4.head()

   Square Footage  Number of Occupants  Appliances Used  ...  Commercial  Industrial  Weekend
0            7063                   76               10  ...           0           0        0
1           44372                   66               45  ...           1           0        0
2           19255                   37               17  ...           0           1        1
3           13265                   14               41  ...           0           0        0
4           13375                   26               18  ...           1           0        0

[5 rows x 8 columns]

In [70]:
X=df4.drop(['Energy Consumption'],axis='columns')
X.head()

   Square Footage  Number of Occupants  Appliances Used  Average Temperature  Commercial  Industrial  Weekend
0            7063                   76               10                29.84           0           0        0
1           44372                   66               45                16.72           1           0        0
2           19255                   37               17                14.30           0           1        1
3           13265                   14               41                32.82           0           0        0
4           13375                   26               18                11.92           1           0        0

In [71]:
y=df4['Energy Consumption']
y.head()

0    2713.95
1    5744.99
2    4101.24
3    3009.14
4    3279.17
Name: Energy Consumption, dtype: float64

In [72]:
m=linear_model.LinearRegression()
m.fit(X,y)

LinearRegression()

In [73]:
m.predict([[7063,76,10,29.84,0,0,0]])

C:\Users\LENOVO\AppData\Local\Programs\Python\Lib\site-packages\sklearn\base.py:493: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([2713.94989618])

In [74]:
df5=pd.read_csv("C:/Users/LENOVO/Downloads/test_energy_data.csv")
df5.head()

  Building Type  Square Footage  Number of Occupants  ...  Average Temperature  Day of Week Energy Consumption
0   Residential           24563                   15  ...                28.52      Weekday            2865.57
1    Commercial           27583                   56  ...                23.07      Weekend            4283.80
2    Commercial           45313                    4  ...                33.56      Weekday            5067.83
3   Residential           41625                   84  ...                27.39      Weekend            4624.30
4   Residential           36720                   58  ...                17.08      Weekday            4820.59

[5 rows x 7 columns]

In [75]:
df5.isnull().sum()

Building Type          0
Square Footage         0
Number of Occupants    0
Appliances Used        0
Average Temperature    0
Day of Week            0
Energy Consumption     0
dtype: int64

In [76]:
df6=pd.get_dummies(df5['Building Type'])
df6=df6.astype(int)
df6.head()

   Commercial  Industrial  Residential
0           0           0            1
1           1           0            0
2           1           0            0
3           0           0            1
4           0           0            1

In [77]:
df7=pd.get_dummies(df5['Day of Week'])
df7=df7.astype(int)
df7.head()

   Weekday  Weekend
0        1        0
1        0        1
2        1        0
3        0        1
4        1        0

In [78]:
df8=pd.concat([df5,df6,df7],axis='columns')
df8.head()

  Building Type  Square Footage  Number of Occupants  Appliances Used  ...  Industrial Residential  Weekday  Weekend
0   Residential           24563                   15                4  ...           0           1        1        0
1    Commercial           27583                   56               23  ...           0           0        0        1
2    Commercial           45313                    4               44  ...           0           0        1        0
3   Residential           41625                   84               17  ...           0           1        0        1
4   Residential           36720                   58               47  ...           0           1        1        0

[5 rows x 12 columns]

In [79]:
df9=df8.drop(['Building Type','Day of Week','Residential','Weekday'],axis='columns')
df9.head()

   Square Footage  Number of Occupants  Appliances Used  ...  Commercial  Industrial  Weekend
0           24563                   15                4  ...           0           0        0
1           27583                   56               23  ...           1           0        1
2           45313                    4               44  ...           1           0        0
3           41625                   84               17  ...           0           0        1
4           36720                   58               47  ...           0           0        0

[5 rows x 8 columns]

In [80]:
Xt=df9.drop(['Energy Consumption'],axis='columns')
Xt.head()

   Square Footage  Number of Occupants  Appliances Used  Average Temperature  Commercial  Industrial  Weekend
0           24563                   15                4                28.52           0           0        0
1           27583                   56               23                23.07           1           0        1
2           45313                    4               44                33.56           1           0        0
3           41625                   84               17                27.39           0           0        1
4           36720                   58               47                17.08           0           0        0

In [81]:
yt=df9['Energy Consumption']
yt.head()

0    2865.57
1    4283.80
2    5067.83
3    4624.30
4    4820.59
Name: Energy Consumption, dtype: float64

In [82]:
m.score(Xt,yt)

0.9999999997063025

In [ ]:
m.predict([[36720,58,47,17.08,0,0,0]])